.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
**/Generated.xcconfig
**/Pods/
**/Podfile.lock
android/.gradle/
android/local.properties
ios/Flutter/Flutter.podspec
ios/.symlinks/
